include _mixins
block footer

    footer#footer.footer


        .footer-nav

            .container 

                .footer__top

                    .footer__top-item
                        a.footer__item-link Наборы для пцр
                        ul.footer__menu
                            .footer__menu-item
                                a.footer__menu-link Что такое ПЦР
                            .footer__menu-item
                                a.footer__menu-link Генетически модифицированные источники

                    .footer__top-item
                        a.footer__item-link Услуги
                        ul.footer__menu
                            .footer__menu-item
                                a.footer__menu-link Установка лабораторий
                            .footer__menu-item
                                a.footer__menu-link Диагностика на зараженность посадочного картофеля
                            .footer__menu-item
                                a.footer__menu-link Разработка новых тест-систем

                    .footer__top-item
                        a.footer__item-link Оборудование
                        ul.footer__menu
                            .footer__menu-item
                                a.footer__menu-link ДТ-96
                            .footer__menu-item
                                a.footer__menu-link ПЦР-БОКС
                            .footer__menu-item
                                a.footer__menu-link DT-LITE
                            .footer__menu-item
                                a.footer__menu-link ГНОМ
                            .footer__menu-item
                                a.footer__menu-link ЭЛЬФ-4
                            .footer__menu-item
                                a.footer__menu-link ЭЛЬФ-8

                    .footer__top-item
                        a.footer__item-link Статьи и файлы
                        ul.footer__menu
                            .footer__menu-item
                                a.footer__menu-link Публикации
                            .footer__menu-item
                                a.footer__menu-link Новости
                            .footer__menu-item
                                a.footer__menu-link Нормативная документация
                            .footer__menu-item
                                a.footer__menu-link Инструкции

                    .footer__top-item
                        a.footer__item-link О нас
                        ul.footer__menu
                            .footer__menu-item
                                a.footer__menu-link Контакты
                            .footer__menu-item
                                a.footer__menu-link Реквизиты
                            .footer__menu-item
                                a.footer__menu-link Дистрибьюторы
                            .footer__menu-item
                                a.footer__menu-link Договор присоединения

        .footer-info

            .container 

                .footer-info__links

                    .footer-info__link-item
                        .footer-info__link-title Телефон
                        a(href="tel:+7-495-727-60-71").footer-info__link.strong +7-495-727-60-71
                        a(href="tel:+7-985-727-60-71").footer-info__link.strong +7-985-727-60-71

                    .footer-info__link-item
                        .footer-info__link-title E-mail 
                        a(href="mailto:agrodiagnostica@bk.ru").footer-info__link agrodiagnostica@bk.ru
                    
                    .footer-info__link-item
                        .footer-info__link-title Адрес
                        a(href="").footer-info__link 117587, г. Москва, вн. тер. г. муниципальный округ Чертаново Северное, Варшавское ш, д.125Ж, к.6, этаж 3, помещ. 5

                .footer-info__file 
                    .footer-info__file-icon 
                        img(src="assets/images/file-ic.svg", alt="")
                    .footer-info__file-content 
                        .footer-info__file-title Скачать договор присоединения (150 Кб)
                        .footer-info__file-text на поставку комплектов реагентов и оборудования для проведения ПЦР-анализа для юридических лиц

                .footer-info__content 
                    .footer-info__content-item © 2005—2022 г. ООО "АгроДиагностика", 2013 Все права защищены.
                    .footer-info__content-item Политика конфиденциальности
                    .footer-info__content-studio
                        a(href="") Разработка сайта
                        span Di-Project.Studio
                    
        .footer-info__content--mobile
            .container
                .footer-info__content 
                    .footer-info__content-item © 2005—2022 г. ООО "АгроДиагностика", 2013<br> Все права защищены.
                    .footer-info__content-item Политика конфиденциальности
                    .footer-info__content-studio
                        a(href="") Разработка сайта
                        span Di-Project.Studio

                
