include _mixins
block header

    header#header.header

        

        .header-top 
        
            .container 

                .header-logo
                    .header-logo__img
                        img(src="assets/images/logo-img.png", alt="")

                    .header-logo__content 
                        .header-logo__title
                            img(src="assets/images/logo-text.png", alt="")
                        .header-logo__text Разработка систем диагностики и детекции инфекционных заболеваний сельскохозяйственной продукции

                .header-phones
                    a(href="tel:+7-495-727-60-71").header-phone
                        i.fal.fa-phone
                        | +7-495-727-60-71
                    a(href="tel:+7-985-727-60-71").header-phone
                        i.fal.fa-phone
                        | +7-985-727-60-71

                .header-lang 
                    a.header-lang__item.active RU
                    a.header-lang__item EN

                .header-burger.button-menu 
                    span 


        .header-nav

            .container

                nav.header-nav-bar
                    ul.header-nav-list
                        li 
                            a(href="") Наборы для ПЦР

                            ul
                                li 
                                    a(href="") Наборы для ПЦР
                                li 
                                    a(href="") Услуги
                                li 
                                    a(href="") Оборудование
                                li 
                                    a(href="") Статьи и файлы
                                li 
                                    a(href="") О нас

                        li 
                            a(href="") Услуги
                        li 
                            a(href="") Оборудование
                        li 
                            a(href="") Статьи и файлы
                        li 
                            a(href="") О нас




                