html {
    scroll-behavior: smooth;
  }

body {
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body.overflow-hidden {
    overflow: hidden;
}

body b {
    font-weight: 700;
    color: #000;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;

    @include breakpoint(lg) {
        width: 2px;
        height: 10px;
    }
}

// ::-webkit-scrollbar-thumb {
//     background: $blue;
// }

::-webkit-scrollbar-track {
    background: #f7f7f7;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

main {
    // min-height: calc(max(calc(100vh - 614px), 650px));

    // @include breakpoint(md) {
    //     min-height: calc(max(calc(100vh - 614px), 570px));
    // }
}

.hide {
    display: none!important;
}

#page {
    position: relative;
    min-width: 320px;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

#page::before {
    content: '';
}

#page.bg-overlay::before {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease;
}

.button-style {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 12px 32px;
    border-radius: 30px;
    height: fit-content;

    i {
        margin-right: 10px;
    }

}

.button-style.button-style--green {
    background: #00652D;
    color: #fff;
}

.button-style.button-style--grey {
    background: #F5F5F5;
    color: #3D3D3D;
}

.button-style.button-style--white {
    background: #F5F5F5;
    color: #00652D;
}


.page__content ul {
    list-style: disc;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3D3D3D;
    li {
        list-style-type: circle;
        margin-bottom: 12px;

        &::marker {
            color: #ED6D00;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }


    @include breakpoint(lg) {
        margin-bottom: 30px;
    }

}


.page__content h2 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #3D3D3D;

    @include breakpoint(md) {
        margin-bottom: 20px;
    }

    @include breakpoint(lg) {
        font-size: 28px;
    }

    @include breakpoint(xl) {
        font-size: 32px;
    }

}

.page__content a {
    color: #00652D;
    font-weight: 700;
}


.container {
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
    max-width: 1240px;
    box-sizing: border-box;

    @include breakpoint(md) {
        padding: 0 30px;
    }

    @include breakpoint(lg) {
        padding: 0 40px;
    }

    @include breakpoint(xl) {
        padding: 0 20px;
    }

}