.breadcrumbs {
    display: none;

    @include breakpoint(md) {
        padding: 20px 0 50px;
        display: block;
    }

    @include breakpoint(lg) {
        padding: 20px 0 55px;
    }

    @include breakpoint(xl) {
        padding: 20px 0 70px;
    }

    @include breakpoint(hd) {
        padding: 30px 0 75px;
    }
}

.breadcrumbs-wrapper {
    display: none;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
    }
}

.breadcrumbs-item {
    font-weight: 400;
    font-size: 20px;
    color: gray;

    @include breakpointMax(xl) {
        max-width: 360px;
        @include textLimit(1);
    }
}

.breadcrumbs-separator {
    margin: 0 22px;
    display: inline-block;
}

.s-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
    color: #000;
    text-transform: uppercase;

    @include breakpointMax(md) {
        margin-top: 20px;
    }

    @include breakpoint(md) {
        font-size: 38px;
    }

    @include breakpoint(hd) {
        font-size: 50px;
    }
}