.contacts-page {
    padding-bottom: 50px;

    @include breakpoint(md) {
        padding-bottom: 60px;
    }

    @include breakpoint(lg) {
        padding-bottom: 80px;
    }

}


.contact__info-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #E0E0E0;
  margin-bottom: 94px;
    margin-top: 20px;

    @include breakpoint(md) {
        margin-bottom: 60px;
    margin-top: 30px;
    }

    @include breakpoint(lg) {
        margin-bottom: 80px;
    }

    @include breakpoint(xl) {
        margin-bottom: 100px;
    margin-top: 40px;
    }

}
.contacts__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;

    @include breakpoint(md) {
        padding: 30px;
    }

    @include breakpoint(lg) {
        padding: 40px;
    }

}
.contacts__info-title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #3d3d3d;
  margin-bottom: 20px;

    @include breakpoint(md) {
        font-size: 20px;
    }

    @include breakpoint(lg) {
        
    }


}
.contacts__info-items {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(md) {
        justify-content: space-between;
    }

}
.contacts__info-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(md) {
        width: calc( 100% / 3 - 30px );
    }


}
.contacts__info-item-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #00652D;
    margin-bottom: 15px;
}
.contact__info-wrapper .contacts__info-item-link {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }
}
.contacts__info-item-link.bold {
    font-weight: 700;
}
.contacts__map {
  width: 100%;
  height: 40vh;
}
.contacts__form {
}

.contacts__form form {
    display: flex;
    flex-wrap: wrap;
    background: #00652D;
    border-radius: 30px;
    overflow: hidden;

    @include breakpoint(md) {
        flex-direction: row;
    }

}

.contacts__form-left {
    width: 100%;
    display: flex;

    .contacts__form-title {
        display: none;

        @include breakpoint(md) {
            display: flex;
            margin-top: 40px;
            margin-left: 40px;
            font-size: 20px;
            max-width: 292px;
        }

        @include breakpoint(lg) {
            font-size: 22px;
            max-width: 389px;
        }

    }

    @include breakpoint(md) {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

}
.contacts__form-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
}
.contacts__form-img {

    img {
        width: 107%;

        @include breakpoint(md) {
            width: 100%;
        }

    }


    @include breakpoint(md) {
        margin-top: auto;
    }


}
.contacts__form-right {
    width: 100%;
    order: -1;
    padding: 30px 20px 0 20px;
    .contacts__form-title {
        margin-bottom: 20px;
    }

    .button-style.button-style--white {
       
        @include breakpoint(md) {
            width: fit-content;
        }

    }


    @include breakpoint(md) {
        width: 50%;
        order: unset;
        padding: 40px 40px 40px 0;
    }

    .contacts__form-title {
        @include breakpoint(md) {
            display: none;
        }
    }

}
.contacts__form-text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.contacts__form-label {
    margin-bottom: 20px;
    display: block;
}
.contacts__form-input {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 30px;
    border: none;
    padding: 12px 20px;
    color: #FFFFFF;
    width: 100%;

    &::placeholder {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
}
.contacts__form-textarea {
    border: none;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 30px;
    border: none;
    padding: 12px 20px;
    color: #FFFFFF;
    width: 100%;

    &::placeholder {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
    }
}


.custom-checkbox {
    padding-left: 30px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
  }
  .custom-checkbox input[type=checkbox] {
    position: absolute;
    left: -100px;
  }
  .custom-checkbox input[type=checkbox]:checked + label ~ .checkbox {
    background: #ED6D00;
    border-radius: 23px;
  }
  .custom-checkbox input[type=checkbox]:checked + label ~ .checkbox::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1, 1);
    transition-delay: 0.3s;
  }
  .custom-checkbox label {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    transition: all 0.3s;
  }
  .custom-checkbox .checkbox {
    min-width: 16px;
    min-height: 16px;
    border-radius: 23px;
    background-color: #ED6D00;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 11px;
    margin-top: -7.5px;
    transition: all 0.3s;
  }
  .custom-checkbox .checkbox::before {
    position: absolute;
    content: "\f00c";
    font-family: 'Font Awesome 5 Pro';
    color: #ffffff;
    font-size: 11px;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%) scale(1.1, 1.1);
    opacity: 0;
    transition: all 0.3s;
  }