
.banner {
    margin-top: 16px;

    .swiper-pagination-bullet {
        background: #00652D;
        opacity: 1;
        width: 6px;
        height: 6px;
    }

    .swiper-pagination-bullet-active {
        background: #ED6D00;
    }


    @include breakpoint(md) {
        margin-top: 30px;
    }

    @include breakpoint(xl) {
        margin-top: 40px;
    }

}
.container {
}
.banner__slider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

   

}
.swiper {
}
.swiper-wrapper {
}
.banner__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
    border-radius: 30px;
    padding-top: 30px;

    @include breakpoint(md) {
        flex-direction: row;
    }
}

.banner__slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 248px;

    @include breakpoint(md) {
        padding-left: 60px;
        padding-top: 40px;
        padding-bottom: 55px;
        max-width: 381px;
    }

}
.banner__slide-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #3D3D3D;

    @include breakpoint(md) {
        text-align: left;
        font-weight: 700;
        font-size: 32px;
        line-height: 150%;
    }

}
.banner__slide-text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #3D3D3D;
    margin-top: 12px;
    margin-bottom: 23px;

    @include breakpoint(md) {
        text-align: left;
    }
}
.banner__slide-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    background: #00652D;
    border-radius: 30px;
    padding: 10px;
    max-width: 248px;
    width: 100%;

    @include breakpoint(md) {
        max-width: 183px;
        margin-right: auto;
    }

}
.banner__slide-img {
    margin-bottom: -39px;
    max-width: 75%;
    margin-top: 10px;
    margin-left: 25px;


    @include breakpoint(xl) {
        margin-bottom: 0;
        margin-top: 0;
        margin-bottom: 36px;
    }

}
.banner__slider-pagination {
    position: relative;
    bottom: 0!important;

    @include breakpoint(md) {
        display: none;
    }

}
.swiper-arrows {
    display: none;

    @include breakpoint(md) {
        display: flex;
        position: absolute;
        top: 45%;
        z-index: 11111;
        width: 97%;
        justify-content: space-between;
    }

}
.arrow {
    filter: drop-shadow(0px 4px 23px rgba(0, 0, 0, 0.06));
    width:  40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: #fff;
    align-items: center;
    justify-self: center;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.production {
    margin-top: 65px;
    padding-bottom: 50px;

    @include breakpoint(lg) {
        margin-top: 80px;
        padding-bottom: 80px;
    }

    @include breakpoint(xl) {
        margin-top: 80px;
        padding-bottom: 80px;
    }
}

.container {
}

.section-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 30px;

    @include breakpoint(md) {
        font-size: 28px;
    }

    @include breakpoint(lg) {
        font-size: 32px;
        margin-bottom: 40px;
    }

    @include breakpoint(xl) {
        
    }

}

.production-items {
    display: flex;
    flex-wrap: wrap;
}

.production-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 20px;


    @include breakpoint(md) {
        flex-direction: row;
        border-bottom: none;
    }


    @include breakpoint(xl) {
        margin-bottom: 30px;
    }


    @include breakpoint(xl) {
        margin-bottom: 40px;
    }


    &:last-child {
        margin-bottom: 0;
    }

}

.production-item__img {

    border-radius: 20px;

    img {


        @include breakpoint(md) {
            object-fit: cover;
        }

    }

    @include breakpoint(md) {
        width: 50%;
        margin-right: 20px;
        max-height: 220px;
        overflow: hidden;
    }

    @include breakpoint(lg) {
        width: 30%;
    }

    @include breakpoint(xl) {
        margin-right: 40px;
    }



}
.production-item__content {
    padding-top: 20px;

    @include breakpoint(md) {
        width: 50%;
        border-top: 1px solid #D9D9D9;
    }

    @include breakpoint(lg) {
        width: 70%;
        display: flex;
        flex-direction: row;
    }

}

.production-item__info {
    @include breakpoint(lg) {
        max-width: 375px;
    }
    @include breakpoint(xl) {
        max-width: 470px;
    }
}


.production-item__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 15px;
}
.production-item__text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3D3D3D;
}

.production-item__btns {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    .button-style {
        width: 100%;
        margin-bottom: 10px;
      

        @include breakpoint(md) {
            margin-bottom: 0;
            margin-right: 10px;
            width: calc( 50% - 5px );
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include breakpoint(lg) {
            width: 100%;
            margin-bottom: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }


    @include breakpoint(md) {
        flex-direction: row;
    }

    @include breakpoint(lg) {
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: auto;
    }


}




.services {
    padding-bottom: 60px;

    @include breakpoint(lg) {
        padding-bottom: 80px;
    }

    @include breakpoint(xl) {
        padding-bottom: 100px;
    }
}
.container {
}
.section-title {
}
.services-items {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(md) {
        margin-left: -20px;
    }

    @include breakpoint(lg) {
        margin-left: -30px;
    }

    @include breakpoint(xl) {
        margin-left: -40px;
    }
    
}
.services-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    border-radius: 30px;
    margin-bottom: 20px;

    @include breakpoint(md) {
        width: calc( 100% / 2 - 20px );
        margin-left: 20px;
    }

    @include breakpoint(lg) {
        width: calc( 100% / 3 - 30px );
        margin-left: 30px;
    }

    @include breakpoint(xl) {
        width: calc( 100% / 3 - 40px );
        margin-left: 40px;
    }
    
}
.services-item__img {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 60%;

        @include breakpoint(md) {
            width: 70%;
        }
    }
    
    @include breakpoint(md) {
        height: 200px;
    }

}

.services-item:last-child .services-item__img img {
    width: 40%;

    @include breakpoint(md) {
        width: 50%;
    }
}

.services-item__content {
    padding: 20px 30px;

    @include breakpoint(md) {
        padding: 30px;
    }
}
.services-item__text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #3D3D3D;

    @include breakpoint(md) {
        font-size: 20px;
    }

}


.consultation {
    background: #00652D;
    padding-top: 40px;

    @include breakpoint(lg) {
        padding-top: 0;
    }

}
.container {
}
.consultation-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;


    @include breakpoint(md) {
        flex-direction: row;
    }

}
.consultation__content {
    display: flex;
    flex-direction: column;


    @include breakpoint(md) {
        max-width: 445px;
    }

    @include breakpoint(lg) {
        padding-top: 60px;
        max-width: 529px;
    }

    @include breakpoint(xl) {
        max-width: 529px;
        padding-top: 80px;

    }

}
.consultation__content-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

    @include breakpoint(md) {
        text-align: left;
        font-size: 28px;
    }

    @include breakpoint(lg) {
        font-size: 32px;
    }


}
.consultation__content-btns {
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
        flex-direction: row;
        justify-content: space-between;
    }


    .button-style--white {
        @include breakpoint(lg) {
            margin-right: 90px;
        }
    }



}
.consultation__content-text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;


    @include breakpoint(md) {
        text-align: left;
        max-width: 197px;
    }


}


.consultation__icon {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 169px;
    height: 225px;

    @include breakpoint(md) {
        left: 56%;
    }

    @include breakpoint(xl) {
        width: 197px;
        height: 262px;
        left: 45%;
    }


}
.consultation__img {
    z-index: 2;
    width: 238px;
    height: 201px;
    margin-left: auto;
    margin-top: 40px;


    // @include breakpoint(md) {
    //     margin-right: 0;
    // }

    @include breakpoint(lg) {
        width: 339px;
        height: 285px;
        margin-top: 0;
    }

    @include breakpoint(xl) {
        width: 387px;
        height: 326px;
    }

}

// @media (min-width: 500px) {
//     .consultation__img {
//         margin-right: auto;
//     }
// }


.price-list {
    padding: 50px 0;
}
.container {
}

.price-list-container {
    background: #F5F5F5;
    border-radius: 30px;
    padding: 0 10px 30px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(md) {
        padding: 0 30px 30px 30px;
    }

    @include breakpoint(xl) {
        padding: 0 100px 30px 60px;
    }

}


.price-list-wrapper {
    display: flex;
    flex-wrap: wrap;


    @include breakpoint(md) {
        flex-direction: row;
    }

}

.section-title-price {
    text-align: center;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #3D3D3D;
    margin-top: 40px;
    margin-bottom: 20px;

    @include breakpoint(md) {
        font-size: 28px;
        max-width: 450px;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    @include breakpoint(lg) {
        font-size: 32px;
        max-width: 535px;
    }


}

.price-list__img {
    display: flex;
    order: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    @include breakpoint(md) {
        width: 50%;
        order: unset;
    }

}
.price-list__items {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(md) {
        width: 50%;
    }

}
.price-list__item {
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.price-list__item-img {
    min-width: 41px;
    min-height: 4.4rem;
    max-width: 4.1rem;
    max-height: 4.4rem;
}
.price-list__item-title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3D3D3D;
    margin-left: 10px;
}

.advantages {
    background: #00652D;
    padding: 40px 0;

    @include breakpoint(md) {
        padding: 60px 0;
    }

    @include breakpoint(lg) {
        padding: 80px 0;
    }

}
.container {
}
.section-title {
}
.section-title--white {
    color: #fff;
}
.advantages-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include breakpoint(md) {
        margin-left: -20px;
    }

    @include breakpoint(xl) {
        margin-left: -40px;
    }
}
.advantages-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(md) {
        width: calc( 100% / 3 - 20px);
        margin-left: 20px;
    }

    @include breakpoint(xl) {
        width: calc( 100% / 3 - 40px);
        margin-left: 40px;
    }


}
.advantages-item__icon {
    width: 60px;
    height: 60px;
}
.advantages-item__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
    max-width: 520px;
}


.news {
    padding: 50px 0;

    @include breakpoint(md) {
        padding: 60px 0;
    }

    @include breakpoint(lg) {
        padding: 80px 0;
    }

    @include breakpoint(xl) {
        padding: 100px 0;
    }

}
.container {
}
.section__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .section-title {
        margin-bottom: 0;
    }


    @include breakpoint(md) {
        margin-bottom: 30px;
    }

    @include breakpoint(xl) {
        margin-bottom: 40px;
    }

}

.section__nav-link {
    display: none;

    @include breakpoint(md) {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
        text-decoration: underline;
        color: #00652D;
        display: flex;
    }

}
.news-items {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(md) {
        margin-left: -20px;
    }

    @include breakpoint(lg) {
        margin-left: -30px;
    }

    @include breakpoint(xl) {
        margin-left: -40px;
    }
}
.news-item {
    width: 100%;
    background: #F5F5F5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .button-style {
        margin-top: auto;
        width: fit-content;
    }

    @include breakpoint(md) {
        width: calc( 100% / 2 - 20px);
        margin-left: 20px;
        margin-bottom: 0;
    }

    @include breakpoint(lg) {
        width: calc( 100% / 2 - 30px);
        margin-left: 30px;
    }

    @include breakpoint(xl) {
        width: calc( 100% / 2 - 40px);
        margin-left: 40px;
        padding: 40px;
    }
}
.news-item__date {
    background: #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #00652D;
    padding: 15px 20px;
    margin-bottom: 45px;
    width: fit-content;
}
.news-item__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 15px;
   
}
.news-item__text {
    margin-bottom: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3D3D3D;
}


.publications {
}
.container {
}
.section__nav {
}
.section-title {
}
.section__nav-link {
}
.publications-items {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(md) {
        margin-left: -20px;
    }

    @include breakpoint(lg) {
        margin-left: -30px;
    }

    @include breakpoint(xl) {
        margin-left: -40px;
    }
}
.publications-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 30px;
    margin-bottom: 20px;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }

    .button-style {
        width: fit-content;
        margin-top: auto;
    }

    @include breakpoint(md) {
        width: calc( 100% / 2 - 20px);
        margin-left: 20px;
        margin-bottom: 20px;
    }

    @include breakpoint(lg) {
        width: calc( 100% / 3 - 30px);
        margin-left: 30px;
        margin-bottom: 0;
    }

    @include breakpoint(xl) {
        width: calc( 100% / 3 - 40px);
        margin-left: 40px;
        margin-bottom: 0;
    }

}
.publications-item__img {
    height: 260px;
    position: relative;

    img {
        object-fit: cover;
        object-position: center;
    }

}
.publications-item__date {
    position: absolute;
    background: #FFFFFF;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #00652D;
    padding: 15px 20px;
    margin-bottom: 45px;
    width: fit-content;
    top: 20px; 
    left: 20px;
}
.publications-item__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;

    @include breakpoint(xl) {
        padding: 30px;
    }

}
.publications-item__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 20px;
}

.show-all {

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #00652D;
    width: 100%;
    text-align: center;
    margin-top: 20px;

    @include breakpoint(md) {
        display: none;
    }

}


.greenpeace {
    margin-top: 50px;

    @include breakpoint(md) {
        margin-top: 60px;
    }

    @include breakpoint(lg) {
        margin-top: 100px;
    }
}

.greenpeace-wrapper {
    background: #F5F5F5;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .button-style {

        @include breakpoint(md) {
            width: fit-content;
        }

    }

    @include breakpoint(md) {
        flex-direction: row;
    }


}
.greenpeace__content {
    padding: 40px 16px;
    width: 100%;


    @include breakpoint(md) {
        width: 50%;
        padding: 40px 0 40px 40px;
    }

}
.greenpeace__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 16px;

    @include breakpoint(md) {
        font-size: 28px;
    }

    @include breakpoint(lg) {
        font-size: 32px;
        max-width: 440px;
    }

}
.greenpeace__text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 30px;
}

.greenpeace__img {
    width: 100%;
    margin-left: 40px;
    display: flex;

    img {
        @include breakpoint(md) {
            height: unset;
            margin-top: auto;
        }
    }

    @include breakpoint(md) {
        width: 50%;
        margin-left: 0;
        padding-top: 40px;
        padding-left: 40px;
    }
}


.company {
    margin-top: 50px;

    .section-title {
        @include breakpoint(lg) {
            display: none;
        }
    }

    @include breakpoint(lg) {
        margin-top: 80px;
    }

    @include breakpoint(xl) {
        margin-top: 100px;
    }

}
.container {
}

.company-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint(lg) {
        flex-direction: row;
    }
}

.company__left {
    width: 100%;

    @include breakpoint(lg) {
        width: 50%;
    }
}
.company__left-imgs {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    @include breakpoint(lg) {
        margin-bottom: 40px;
    }
}
.company__left-img {
    width: 50%;
    filter: drop-shadow(0px 4px 23px rgba(0, 0, 0, 0.09));
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }

    @include breakpoint(lg) {
        margin-right: 40px;
    }

}
.company__left-video {

    display: none;


    @include breakpoint(lg) {
        display: flex;
        border-radius: 20px;
        overflow: hidden;
    }
}
.company__right {
    width: 100%;

    @include breakpoint(lg) {
        width: 50%;
        padding-left: 30px;
    }
}
.company__right-text {



    p {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #3D3D3D;
        margin-bottom: 20px;
    }

    @include breakpoint(md) {
        max-width: 567px;
    }

}
.company__right-title {
    display: none;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 20px;

    @include breakpoint(lg) {
        display: flex;
    }
}
.company__right-title-sm {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #3D3D3D;
    margin-bottom: 15px;
}
.company__right-video {
    border-radius: 20px;
    overflow: hidden;
    display: flex;

    @include breakpoint(lg) {
        display: none;
    }
}



.quastion {
    margin-top: 50px;
    background: #00652D;
    padding: 80px 0;

    .button-style {
        width: fit-content;
    }
}
.container {
}
.quastion-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;

    @include breakpoint(md) {
        flex-direction: row;
    }

}
.quastion-img__left {
    position: absolute;
    left: -18%;

    @include breakpoint(md) {
        left: 50px;
    }

    @include breakpoint(md) {
        left: 100px;
        top: 0;
    }

    @include breakpoint(xl) {
        left: 130px;
    }
}
.quastion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quastion__title {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;

    @include breakpoint(md) {
        font-size: 28px;
    }

    @include breakpoint(lg) {
        font-size: 32px;
    }

}
.quastion__text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 30px;
    max-width: 287px;
}

.quastion-img__right {
    position: absolute;
    right: -18%;

    @include breakpoint(md) {
        right: 50px;
    }

    @include breakpoint(lg) {
        right: 100px;
        top: 0px;
    }

    @include breakpoint(xl) {
        right: 130px;
    }

}