.header {
    padding-top: 10px;

    @include breakpoint(md) {
        padding-top: 20px;
    }

}
.container {
}
.header-top {
   
    @include breakpoint(md) {
        padding-bottom: 20px;
    }

    .container {
        display: flex;
        align-items: center;
    }

}
.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-logo__img {

    width: 53px;
    height: 53px;
    min-width: 53px;
    min-height: 53px;
    max-width: 53px;
    max-height: 53px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    @include breakpoint(md) {
        width: 70px;
        height: 70px;
        min-width: 70px;
        min-height: 70px;
        max-width: 70px;
        max-height: 70px;
    }


    @include breakpoint(xl) {
        width: 85px;
        height: 85px;
    }

}
.header-logo__content {
    margin-left: 10px;
}
.header-logo__title {
    
    width: 100px;


    @include breakpoint(md) {
        width: 133px;
    }

    @include breakpoint(xl) {
        width: 170px;
    }

    img {
        width: 100%;
        object-fit: contain;
    }
}
.header-logo__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 11px;
    max-width: 154px;
    color: #7F7F7F;



    @include breakpoint(md) {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        max-width: 369px;
        margin-top: 10px;
    }

    @include breakpoint(xl) {
        max-width: 233px;
        margin-top: 0;
    }
}
.header-phones {
    display: none;
    flex-direction: column;
    margin-left: auto;

    @include breakpoint(md) {
        display: flex;
    }
}
.header-phone {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-child {
        margin-bottom: 0;
    }

    i {
        margin-right: 10px;
    }
}

.header-lang {
    display: none;
    flex-direction: column;
    margin-left: 40px;

    @include breakpoint(md) {
        display: flex;
    }
}

.header-lang__item {

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3D3D3D;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &.active {
        font-weight: 600;
    }

}

.button-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    max-width: 35px;
    max-height: 35px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9;
    margin-left: auto;
    background: #00652D;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 11111111;
    @include breakpoint(md) {
        display: none;
    }
}

.button-menu span {
    background: #fff;
    position: relative;
    display: inline-block;
    width: 18px;
    height: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.button-menu span::before, .button-menu span::after {
    content: '';
    background: #fff;
    display: inline-block;
    width: 18px;
    height: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.button-menu span::before {
    position: absolute;
    top: -5px;
}


.button-menu span::after {
    position: absolute;
    top: 5px;
}


.header-nav {
    // display: none;
    background: #00652D;

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .container {
        width: 100%;
    }

}
.header-nav-bar {
    width: 100%;
    margin: 0 auto;
    max-width: 780px;
    

}
.header-nav-list {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    li {

        a {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            @include breakpoint(md) {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 23px;
                color: #FFFFFF;
                padding: 20px 0;
                display: block;
            }

    
            i {
                @include breakpoint(md) {
                    display: none;
                    transition: all .5s ease;
                }
            }

            i.rotate {
                transform: rotate(180deg);
                transition: all .5s ease-in-out;
            }


        }
 
        
    }

    // ul {
    //     display: none;
    // }
}


.header-nav-list li.header-nav-list__item {
    position: relative;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 15px;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 5px;
    margin-bottom: 10px;

    ul {
        margin-top: 15px;
    }

    ul li {
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 15px;


        &:last-child {
            margin-bottom: 15px;
        }
    }

    @include breakpoint(md) {
        padding: 0;
        background: none;
        margin-bottom: 0;
    }


}



.header-nav-list li ul {

    display: none;

    @include breakpoint(md) {
        position: absolute;
        top: 80px;
        z-index: 11;
        background: #F5F5F5;
        box-shadow: 0px 9px 23px rgba(0, 0, 0, 0.09);
        border-radius: 20px;
        flex-direction: column;
        padding: 10px;
        min-width: 250px;
        transition: all .3s ease 1s;
        visibility: hidden;
        display: flex;

        
        li {
            padding: 20px;
        }
    
        li a {
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: #3D3D3D;
            padding: 0;
        }
    
        li:hover {
            background-color: #fff;
            border-radius: 15px;
    
            a {
                color: #00652D;
            }
    
        }
    }

   

}

.header-nav-list li:hover ul {

    @include breakpoint(md) {
        display: flex;
        transition-delay: 0s;
        visibility: visible;
    }

   
}


// MOBILE NAV


.header-top.mobile-menu .button-menu {
    z-index: 11111111;
}


.header-top.mobile-menu .button-menu span {
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.header-top.mobile-menu .button-menu span::after {
    background: #fff;
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.header-top.mobile-menu .button-menu span::before {
    content: none;
}



.header-nav-bar.mobile-menu {

    transition: right 0.5s ease;
    right: 0;

}

.show {
    display: flex!important;
}

.header-nav.show {
    transition: right 0.5s ease;
}


@media (max-width: 744px) {
    .header-nav-bar {
        padding: 70px 15px 0;
        background: #00652D;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        z-index: 1;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.5s ease;
        transition: right 0.5s ease;
        overflow-y: scroll;
        z-index: 11;
    
        ul {
            display: flex;
            flex-direction: column;
        }
    
    
    }
}