---
title: АгроДиагностика | О нас
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a О нас

    section.about-page

        .container 

            .page-wrapper

                .page__sidebar 

                    nav.page__sidebar-nav

                        p.page__sidebar--selected
                            span Нормативная документация
                            i.fa-solid.fa-chevron-down

                        div(style="display: none;").page__sidebar-list

                            a.select-option.selected Публикации

                            a.select-option Новости

                            a.select-option Нормативная документация

                            a.select-option Инструкции
                
                .page__content

                    .page-title О нас

                    .company__left-imgs 

                        .company__left-img 

                            img(src="assets/images/comp1.png", alt="")

                        .company__left-img 

                            img(src="assets/images/comp2.png", alt="")

                    p ООО «АгроДиагностика» предлагает инновационное оборудование и комплекты реагентов для выявления и идентификации широкого спектра патогенов, вызывающих болезни растений и детекции генно-модифицированных источников (ГМИ). В основе диагностических наборов, производимых компанией, лежит метод полимеразной-цепной реакции (ПЦР), разработанный в 1983 году американским ученым Кэри Мюллисом, получившим за свое открытие Нобелевскую премию. В настоящее время ПЦР-диагностика является одним из наиболее точных и чувствительных методов молекулярной диагностики.

                    p Все комплекты реагентов производства ООО «АгроДиагностика» испытаны и сертифицированы в профильных научных учреждениях, совместно с которыми были разработаны методические указания.

                    p Предлагаемые наборы не имеют аналогов в России и за ее пределами как по качеству и надежности диагностики, так и по широте спектра диагностируемых возбудителей болезней.

                    .about-advantages

                        .about-advantage
                            .about-advantage__icon 
                                img(src="assets/images/abad1.svg", alt="")
                            .about-advantages__title Все наборы адаптированы надежному и сравнительно недорогому оборудованию российских и зарубежных производителей.

                        .about-advantage
                            .about-advantage__icon 
                                img(src="assets/images/abad2.svg", alt="")
                            .about-advantages__title Все научные разработки ведут квалифицированные сотрудники, в том числе доктора и кандидаты биологических наук.

                        .about-advantage
                            .about-advantage__icon 
                                img(src="assets/images/abad3.svg", alt="")
                            .about-advantages__title Наборы ООО «АгроДиагностика» производятся на Российском предприятии в условиях, отвечающих мировым стандартам GMP.

                        .about-advantage
                            .about-advantage__icon 
                                img(src="assets/images/abad4.svg", alt="")
                            .about-advantages__title «АгроДиагностика» стремится к созданию максимально надежных и простых в использовании тест-систем.

                    h2 Наше производство

                    p Наборы ООО «АгроДиагностика» производятся на Российском предприятии в условиях, отвечающих мировым стандартам GMP (Good Manufacturing Practice), с внедренной системой качества менеджмента ISO 13485 и ISO 9001, что исключает возможность контаминации компонентов наборов и обеспечивает высокий уровень продукции, полностью отвечающий принятым мировым стандартам.

                    .about-page__image
                        img(src="assets/images/about-img.png", alt="")

                    .about-page__video
                        <iframe width="100%" height="552" src="https://www.youtube.com/embed/HcwsBS4yrHQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
