---
title: АгроДиагностика | Контакты
---

extends includes/_page

block main
    <script data-skip-moving="true" src="https://api-maps.yandex.ru/2.1/?lang=ru_ru" type="text/javascript"></script>
    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Контакты

    section.contacts-page

        .container 

            .page-wrapper

                .page__sidebar 

                    nav.page__sidebar-nav

                        p.page__sidebar--selected
                            span Нормативная документация
                            i.fa-solid.fa-chevron-down

                        div(style="display: none;").page__sidebar-list

                            a.select-option.selected Публикации

                            a.select-option Новости

                            a.select-option Нормативная документация

                            a.select-option Инструкции
                
                .page__content

                    .page-title Контакты

                    .contact__info-wrapper 

                        .contacts__info 

                            .contacts__info-title ООО «АгроДиагностика» Россия

                            .contacts__info-items 

                                .contacts__info-item 

                                    .contacts__info-item-title Телефон
                                    a.contacts__info-item-link.bold +7-495-727-60-71
                                    a.contacts__info-item-link.bold +7-985-727-60-71

                                .contacts__info-item 
                                    .contacts__info-item-title E-mail
                                    a.contacts__info-item-link agrodiagnostica@bk.ru

                                .contacts__info-item 
                                    .contacts__info-item-title Адрес
                                    a.contacts__info-item-link 117587, г. Москва, вн. тер. г. муниципальный округ Чертаново Северное, Варшавское ш, д.125Ж, к.6, этаж 3, помещ. 5
                        .contacts__map#map 


                    .contacts__form 
                        form(action="")
                            .contacts__form-left 
                                .contacts__form-title Хотите оставить заявку на услугу или остались вопросы?
                                .contacts__form-img 
                                    img(src="assets/images/contacts-form.png", alt="")
                            .contacts__form-right
                                .contacts__form-title Хотите оставить заявку на услугу или остались вопросы?
                                .contacts__form-text Оставьте заявку, мы с вами свяжемся в ближайшее время
                                label(for="").contacts__form-label
                                    input(type="text" placeholder="Имя").contacts__form-input
                                label(for="").contacts__form-label
                                    input(type="text" placeholder="Телефон").contacts__form-input
                                label(for="").contacts__form-label
                                    textarea(placeholder="Телефон", cols="30", rows="10").contacts__form-textarea
                                button(type="submit").button-style.button-style--white Оставить заявку
                                .custom-checkbox
                                    input(type="checkbox" checked)#check
                                    label(for="check") Согласен (на) на обработку персональный данных
                                    span.checkbox
                                    