---
title: АгроДиагностика | Дистрибьюторы
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Дистрибьюторы

    section.distributors-page

        .container 

            .page-wrapper

                .page__sidebar 

                    nav.page__sidebar-nav

                        p.page__sidebar--selected
                            span Нормативная документация
                            i.fa-solid.fa-chevron-down

                        div(style="display: none;").page__sidebar-list

                            a.select-option.selected Публикации

                            a.select-option Новости

                            a.select-option Нормативная документация

                            a.select-option Инструкции
                
                .page__content

                    .page-title Дистрибьюторы

                    .distributors-items 

                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am

                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am


                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am


                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am


                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am


                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am


                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am


                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am


                        .distributors-item 

                            .distributors-item__title Армения, г. Ереван "Promtest" LLCтел

                            .distributors-item__links 

                                .distributors-item__link
                                    .distributors-item__link-title Тел:
                                    a(href="tel:+374 95-87-58-58").distributors-item__link-text +374 95-87-58-58

                                .distributors-item__link
                                    .distributors-item__link-title E-mail
                                    a(href="mailto:logisticspromtest@gmail.com").distributors-item__link-text logisticspromtest@gmail.com

                                .distributors-item__link
                                    .distributors-item__link-title Сайт
                                    a(href="www.promtest.am").distributors-item__link-text www.promtest.am