---
title: АгроДиагностика | Оборудование
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Оборудование
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Оборудование детальная
    
    section.equipment-detail 

        .container

            .equipment-detail-wrapper

                .equipment-detail-top 

                    .equipment-detail__img

                        img(src="assets/images/eq-detail.png", alt="")

                    .equipment-detail__content 

                        h1.inner-page-title Термостат «Гном» (программируемый)

                        p Программируемый твердотельный термостат для научных и клинико-диагностических исследований. Рассчитан на использование пробирок типа «Эппендорф» объемом 1,5 и 0,5 мл. Термостат «Гном» особенно удобен в случае применения методик, состоящих из нескольких этапов с различными температурами инкубации, а также для прогрева пробирок при высоких температурах.

                        .equipment-detail__advantages-title Преимущества термостата «Гном»:

                        ul 
                            li возможность программирования позволяет реализовать процессы, включающие от одного до трех последовательных температурно-временных интервалов;
                            li наличие термоизолирующей прижимной крышки повышает равномерность распределения температуры по блоку, предотвращает открытие крышек пробирок при высоких температурах и уменьшает конденсирование реакционной смеси на крышках пробирок;
                            li встроенный вентилятор значительно сокращает время охлаждения;
                            li жидкокристаллический графический дисплей делает управление прибором простым и удобным.

                        .button-style.button-style--green Оставить заявку
                
                .equipment-detail-middle

                    .equipment-detail-files 

                        .equipment-detail__file 
                            .equipment-detail__file-icon 
                                img(src="assets/images/file-ic.svg", alt="")
                            .equipment-detail__file-title Регистрационное удостоверение

                        .equipment-detail__file 
                            .equipment-detail__file-icon 
                                img(src="assets/images/file-ic.svg", alt="")
                            .equipment-detail__file-title Руководство по эксплуатации

                        .equipment-detail__file 
                            .equipment-detail__file-icon 
                                img(src="assets/images/file-ic.svg", alt="")
                            .equipment-detail__file-title Декларация о соответствии

                        .equipment-detail__file 
                            .equipment-detail__file-icon 
                                img(src="assets/images/file-ic.svg", alt="")
                            .equipment-detail__file-title Регистрационное удостоверение

                .equipment-detail-bottom 

                    .equipment-detail-bottom__title Технические характеристики

                    table.equipment-detail-chars
                        thead 
                            tr.tr_odd 
                                td Параметр
                                td Значение
                        tbody
                            tr 
                                td Число пробирок «Эппендорф» 1.5 мл, шт.
                                td 40
                            tr.tr_odd
                                td Число пробирок «Эппендорф» 0.5 мл, шт.
                                td 28
                            tr 
                                td Температурный диапазон,°С
                                td от комнатной до 99°С
                            tr.tr_odd
                                td Отсчет времени
                                td от 1 мин до 99 ч
                            tr 
                                td Точность поддержания температуры,°C
                                td 40
                        
    section.equipment-inner

        .container 

            .section__nav 

                .section-title Другое наше оборудование

                .section__nav-link Всё оборудование

            .equippment-items 

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Источник питания "Эльф-4"
                        .equipment-item__text предназначен для проведения электрофореза нуклеиновых кислот и белков в агарозных и акриламидных гелях
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq1.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Источник питания "Эльф-8"
                        .equipment-item__text предназначен для проведения электрофореза нуклеиновых кислот и белков в агарозных и акриламидных гелях
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq2.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Термостат «Гном» (программируемый)
                        .equipment-item__text Программируемый твердотельный термостат для научных и клинико-диагностических исследований
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq3.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Термостат твердотельный  «Термит»
                        .equipment-item__text Твердотельный термостат для научных и клинико-диагностических исследований
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq4.png", alt="")
        
            .show-all Всё оборудование

                            


