---
title: АгроДиагностика | Оборудование
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Оборудование

    section.title 
        .container 
            h1.page-title Оборудование

    section.equipment 

        .container 

            .equippment-items 

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Источник питания "Эльф-4"
                        .equipment-item__text предназначен для проведения электрофореза нуклеиновых кислот и белков в агарозных и акриламидных гелях
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq1.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Источник питания "Эльф-8"
                        .equipment-item__text предназначен для проведения электрофореза нуклеиновых кислот и белков в агарозных и акриламидных гелях
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq2.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Термостат «Гном» (программируемый)
                        .equipment-item__text Программируемый твердотельный термостат для научных и клинико-диагностических исследований
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq3.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Термостат твердотельный  «Термит»
                        .equipment-item__text Твердотельный термостат для научных и клинико-диагностических исследований
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq4.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Устройство для запечатывания микропланшетов ДТпак
                        .equipment-item__text Устройство работает с различными типами микропланшетов и пленок.
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq5.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Амплификатор детектирующий ДТлайт
                        .equipment-item__text Прибор с минимальными габаритами для оборудования данного класса
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq6.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title Амплификатор детектирующий ДТпрайм
                        .equipment-item__text Преимуществом приборов серии ДТпрайм является широкий спектр функций в сочетании с высокой пропускной способностью
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq7.png", alt="")

                .equipment-item
                    .equipment-item__content 
                        .equipment-item__title ПЦР-бокс
                        .equipment-item__text ПЦР-бокс предназначен для организации изолированного от внешней среды пространства в клинико-диагностических и ПЦР-лабораториях
                        .button-style.button-style--green Подробнее
                    .equipment-item__img 
                        img(src="assets/images/eq8.png", alt="")
