---
title: АгроДиагностика | Главная
---

extends includes/_page

block main

    section.banner

        .container 

            .banner__slider.swiper 
                .swiper-wrapper

                    .banner__slide.swiper-slide
                        .banner__slide-content
                            h1.banner__slide-title Комплекты реагентов для ПЦР-диагностики
                            .banner__slide-text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов
                            a.banner__slide-link Подробнее
                        .banner__slide-img 
                            img(src="assets/images/banner.png", alt="")

                    .banner__slide.swiper-slide
                        .banner__slide-content
                            h1.banner__slide-title Комплекты реагентов для ПЦР-диагностики
                            .banner__slide-text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов
                            a.banner__slide-link Подробнее
                        .banner__slide-img 
                            img(src="assets/images/banner.png", alt="")

                .swiper-arrows
                    .arrow.arrow__left
                        i.far.fa-chevron-left
                    .arrow.arrow__right
                        i.far.fa-chevron-right

            .banner__slider-pagination.swiper-pagination

    section.production 

        .container

            .section-title Продукция

            .production-items

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod1.png", alt="")

                    .production-item__content

                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod2.png", alt="")

                    .production-item__content

                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod3.png", alt="")

                    .production-item__content
                        
                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod4.png", alt="")

                    .production-item__content

                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция


    section.services 

        .container 

            .section-title Услуги

            .services-items 

                .services-item

                    .services-item__img

                        img(src="assets/images/ser1.png", alt="")
                    
                    .services-item__content 

                        .services-item__text Установка лабораторий

                .services-item

                    .services-item__img

                        img(src="assets/images/ser2.png", alt="")
                    
                    .services-item__content 

                        .services-item__text Диагностика на зараженность посадочного картофеля

                .services-item

                    .services-item__img

                        img(src="assets/images/ser3.png", alt="")
                    
                    .services-item__content 

                        .services-item__text Разработка новых тест-систем
                    
                    
    section.consultation 

        .container 

            .consultation-wrapper 

                .consultation__content 

                    .consultation__content-title Удаленное консультирование и обучение наших клиентов

                    .consultation__content-btns 

                        .consultation__content-text Тренинги организуются по мере набора групп

                        .button-style.button-style--white Оставить заявку

                .consultation__icon 
                    img(src="assets/images/kolos.png", alt="")

                .consultation__img 
                    img(src="assets/images/consbg.png", alt="")

        
    section.price-list

        .container 

            .price-list-container

                .section-title-price Скачайте наш прайс-лист и другие полезные материалы


                .price-list-wrapper 


                    .price-list__img

                        img(src="assets/images/pricebg.png", alt="")

                    .price-list__items 

                        .price-list__item 

                            .price-list__item-img 

                                img(src="assets/images/file-ic.svg", alt="")

                            .price-list__item-title Прайс-лист 04_04_2022 <br> 417 КБ

                        .price-list__item 

                            .price-list__item-img 

                                img(src="assets/images/file-ic.svg", alt="")

                            .price-list__item-title Методические указания от 2021 г. <br> 14 МБ

                        .price-list__item 

                            .price-list__item-img 

                                img(src="assets/images/file-ic.svg", alt="")

                            .price-list__item-title Статья «Здоровье растений обеспечит АгроДиагностика» из журнала "Актуальные Агросистемы", №5, май 2018 г. <br> 1,3 МБ
                    

    section.advantages 

        .container 

            .section-title.section-title--white Преимущества

            .advantages-items 

                .advantages-item

                    .advantages-item__icon 

                        img(src="assets/images/ad1.svg", alt="")

                    .advantages-item__title Все наборы адаптированы надежному и сравнительно недорогому оборудованию российских и зарубежных производителей.

                .advantages-item

                    .advantages-item__icon 

                        img(src="assets/images/ad2.svg", alt="")

                    .advantages-item__title Все научные разработки ведут квалифицированные сотрудники, в том числе доктора и кандидаты биологических наук.

                .advantages-item

                    .advantages-item__icon 

                        img(src="assets/images/ad3.svg", alt="")

                    .advantages-item__title Наборы ООО «АгроДиагностика» производятся на Российском предприятии в условиях, отвечающих мировым стандартам GMP.

    section.news 

        .container 

            .section__nav 

                .section-title Новости

                .section__nav-link Все новости

            .news-items 

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Болезни растений - открытие нового направления...

                    .news-item__text С радостью сообщаем, что компанией открыто новое направление для диагностики болезней растений...
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

            .show-all Все новости


    section.publications 

        .container 

            .section__nav 

                .section-title Публикации

                .section__nav-link Все публикации

            .publications-items 

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub1.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика токсигенных грибов – возбудителей фузариоза зерна...


                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub2.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Карантин

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

            .show-all Все публикации

    section.greenpeace

        .container 

            .greenpeace-wrapper 

                .greenpeace__content 

                    .greenpeace__title Мы заботимся о природе и мире вокруг нас

                    .greenpeace__text Гринпис — наш друг и единомышленник в этом вопросе

                    .button-style.button-style--green Перейти на сайт

                .greenpeace__img 

                    img(src="assets/images/greenbg.png", alt="")


    section.company 

        .container

            .section-title О компании

            .company-wrapper

                .company__left 

                    .company__left-imgs 

                        .company__left-img 

                            img(src="assets/images/comp1.png", alt="")

                        .company__left-img 

                            img(src="assets/images/comp2.png", alt="")

                    .company__left-video 

                        <iframe width="100%" height="327" src="https://www.youtube.com/embed/HcwsBS4yrHQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>

                .company__right 

                    .company__right-text 

                        .company__right-title О компании
                        p ООО «АгроДиагностика» предлагает инновационное оборудование и комплекты реагентов для выявления и идентификации широкого спектра патогенов, вызывающих болезни растений и детекции генно-модифицированных источников (ГМИ). В основе диагностических наборов, производимых компанией, лежит метод полимеразной-цепной реакции (ПЦР), разработанный в 1983 году американским ученым Кэри Мюллисом, получившим за свое открытие Нобелевскую премию. В настоящее время ПЦР-диагностика является одним из наиболее точных и чувствительных методов молекулярной диагностики.
                        p Все комплекты реагентов производства ООО «АгроДиагностика» испытаны и сертифицированы в профильных научных учреждениях, совместно с которыми были разработаны методические указания.
                        p Предлагаемые наборы не имеют аналогов в России и за ее пределами как по качеству и надежности диагностики, так и по широте спектра диагностируемых возбудителей болезней.
                        .company__right-title-sm Наше производство
                        p Наборы ООО «АгроДиагностика» производятся на Российском предприятии в условиях, отвечающих мировым стандартам GMP (Good Manufacturing Practice), с внедренной системой качества менеджмента ISO 13485 и ISO 9001, что исключает возможность контаминации компонентов наборов и обеспечивает высокий уровень продукции, полностью отвечающий принятым мировым стандартам.
                    
                    .company__right-video

                        <iframe width="100%" height="252" src="https://www.youtube.com/embed/HcwsBS4yrHQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>


    section.quastion 

        .container 

            .quastion-wrapper 

                .quastion-img__left

                        img(src="assets/images/quas1.png", alt="")

                .quastion-content 

                    .quastion__title Остались вопросы?

                    .quastion__text Оставьте заявку, мы с вами свяжемся в ближайшее время

                    .button-style.button-style--white Оставить заявку

                .quastion-img__right

                        img(src="assets/images/quas2.png", alt="")