---
title: АгроДиагностика | Главная
---

extends includes/_page

block main

    section.banner

        .container 

            .banner__slider.swiper 
                .swiper-wrapper

                    .banner__slide.swiper-slide
                        .banner__slide-content
                            h1.banner__slide-title Комплекты реагентов для ПЦР-диагностики
                            .banner__slide-text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов
                            a.banner__slide-link Подробнее
                        .banner__slide-img 
                            img(src="assets/images/banner.png", alt="")

                    .banner__slide.swiper-slide
                        .banner__slide-content
                            h1.banner__slide-title Комплекты реагентов для ПЦР-диагностики
                            .banner__slide-text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов
                            a.banner__slide-link Подробнее
                        .banner__slide-img 
                            img(src="assets/images/banner.png", alt="")

                .swiper-arrows
                    .arrow.arrow__left
                        i.far.fa-chevron-left
                    .arrow.arrow__right
                        i.far.fa-chevron-right

            .banner__slider-pagination.swiper-pagination

    section.production 

        .container

            .section-title Продукция

            .production-items

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod1.png", alt="")

                    .production-item__content

                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod2.png", alt="")

                    .production-item__content

                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod3.png", alt="")

                    .production-item__content
                        
                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция

                .production-item

                    .production-item__img 

                        img(src="assets/images/prod4.png", alt="")

                    .production-item__content

                        .production-item__info

                            .production-item__title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                            .production-item__text инфекционных заболеваний картофеля, плодовых, овощных, злаковых культур и карантинных патогенов

                        .production-item__btns

                            a.button-style.button-style--green Подробнее

                            a.button-style.button-style--grey
                                i.far.fa-arrow-down
                                | Инструкция


    section.services 

        .container 

            .section-title Услуги

            .services-items 

                .services-item

                    .services-item__img

                        img(src="assets/images/ser1.png", alt="")
                    
                    .services-item__content 

                        .services-item__text Установка лабораторий

                .services-item

                    .services-item__img

                        img(src="assets/images/ser2.png", alt="")
                    
                    .services-item__content 

                        .services-item__text Диагностика на зараженность посадочного картофеля

                .services-item

                    .services-item__img

                        img(src="assets/images/ser3.png", alt="")
                    
                    .services-item__content 

                        .services-item__text Разработка новых тест-систем
                    
                    
                




