---
title: АгроДиагностика | Наборы для ПЦР
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Новости

    section.instructions

        .container 

            .page-wrapper

                .page__sidebar 

                    nav.page__sidebar-nav

                        p.page__sidebar--selected
                            span Публикации
                            i.fa-solid.fa-chevron-down

                        div(style="display: none;").page__sidebar-list

                            a.select-option.selected Публикации

                            a.select-option Новости

                            a.select-option Нормативная документация

                            a.select-option Инструкции
                
                .page__content

                    .page-title Инструкции по применению наборов реагентов для ПЦР диагностики фитопатогенов

                    .instructions-items

                        .instructions-item

                            .instructions-item__title Базовый комплект реагентов для проведения ПЦР-амплификации ДНК (форматы «Форез», «Flash», «Real-Time»)
                            .instructions-item__file
                                .instructions-item__file-icon 
                                    img(src="assets/images/file-ic.svg", alt="")
                                .instructions-item__file-title Инструкция<br>(592 КБ)

                        .instructions-item

                            .instructions-item__title Базовый комплект реагентов для проведения ПЦР-амплификации ДНК (форматы «Форез», «Flash», «Real-Time»)
                            .instructions-item__file
                                .instructions-item__file-icon 
                                    img(src="assets/images/file-ic.svg", alt="")
                                .instructions-item__file-title Инструкция<br>(592 КБ)

                        .instructions-item

                            .instructions-item__title Базовый комплект реагентов для проведения ПЦР-амплификации ДНК (форматы «Форез», «Flash», «Real-Time»)
                            .instructions-item__file
                                .instructions-item__file-icon 
                                    img(src="assets/images/file-ic.svg", alt="")
                                .instructions-item__file-title Инструкция<br>(592 КБ)

                        .instructions-item

                            .instructions-item__title Базовый комплект реагентов для проведения ПЦР-амплификации ДНК (форматы «Форез», «Flash», «Real-Time»)
                            .instructions-item__file
                                .instructions-item__file-icon 
                                    img(src="assets/images/file-ic.svg", alt="")
                                .instructions-item__file-title Инструкция<br>(592 КБ)