---
title: АгроДиагностика | Наборы для ПЦР
---

extends includes/_page

block main

    section.sets 

        .container 

            .page-wrapper

                .page__sidebar 

                    nav.page__sidebar-nav

                        p.page__sidebar--selected
                            span Наборы для ПЦР
                            i.fa-solid.fa-chevron-down

                        div(style="display: none;").page__sidebar-list

                            a.select-option.selected Наборы для ПЦР

                            a.select-option Что такое ПЦР?

                            a.select-option Генетически модифицированные источники
                
                .page__content

                    .page-title Тест-системы для диагностики инфекционных заболеваний растений методом ПЦР

                    p ООО «АгроДиагностика» разработала и внедрила в практическую работу уникальный комплекс тест-систем на основе полимеразной цепной реакции (ПЦР) для диагностики и идентификации широкого спектра инфекционных заболеваний сельскохозяйственных культур. Для проведения анализа отработаны системы выделения нуклеиновых кислот из растительного материала и подготовки проб для ПЦР. Наборы производятся в двух форматах —на основе технологии FLASH (FLuorescent Amplificationbased Specific Hybridization — специфическая флуоресцентная гибридизация в процессе амплификации) и в формате Real-Time PCR (Rt) (ПЦР в реальном времени).

                    p При использовании реагентов на основе технологии FLASH, результаты анализа детектируются на флуориметре «ДЖИН» (ООО «НПО ДНК-Технология», Россия) и выводятся на экран компьютера в течение 30-60 секунд. Наборы на основе технологии FLASH не требуют открывания пробирок после проведения амплификации, что значительно снижает риск контаминации. Комплекты реагентов в формате Real-Time позволяют проводить качественный ПЦР-анализ в режиме «реального времени» с использованием приборов: ДТ-322, ДТ-96, DTprime, DTlite (ООО «НПО ДНК-Технология», Россия), iQ iCycler («Bio-Rad Laboratories», США), имеются наборы, адаптированные под прибор Rotor-Gene 6000 («Qiagen Instruments», Германия).

                    p Разработанные системы позволяют быстро, достоверно и с высокой чувствительностью выявлять наличие патогенов. Все комплекты реагентов прошли испытания в научно-исследовательских учреждениях и на специализированных предприятиях, как в России, так и за рубежом.

                    table.tablepcr
                        tbody
                            tr.tr_odd
                                td(rowspan='2')
                                    strong Наименование
                                td(colspan='2' style='text-align: center;')
                                    strong Форматы
                            tr.tr_odd
                                td
                                    strong FLASH
                                td
                                    strong Rt
                            tr
                                td.headerlevelone(colspan='4') Комплекты реагентов для диагностики болезней картофеля
                            tr.tr_odd
                                td Кольцевая гниль картофеля (Clavibacter michiganensis subsp. Sepedonicus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Бурая бактериальная гниль (Ralstonia solanacearum)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус скручивания листьев картофеля (Potato Leafroll Virus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td M вирус картофеля (Potato Virus M)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td S вирус картофеля (Potato Virus S)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Х вирус картофеля (Potato Virus X)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вироид веретеновидности клубней картофеля (Potato Spindle Tuber Viroid)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Y вирус картофеля (Potato Virus Y)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td A вирус картофеля (Potato Virus A)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус метельчатости клубней картофеля (Potato Mop Top virus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Андийский вирус крапчатости картофеля (Andean potato mottle virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                                tr
                                td Андийский латентный вирус картофеля (Andean potato latent virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Бледная картофельная цистообразующая нематода (Globodera pallida)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Золотистая картофельная цистообразующая нематода (Globodera rostochiensis)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Рак картофеля (Synchytrium endobioticum)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус черной кольцевой пятнистости картофеля (Potato black ringspot virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td
                                    | T вирус картофеля (Potato virus T)
                                    // <span style="font-size: medium;"><span style="color: rgb(255, 0, 0);"><strong>скоро в продаже</strong></span></span>
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус пожелтения картофеля (Potato yellowing virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус жёлтой карликовости картофеля (Potato yellow dwarf virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Комплект реагентов для амплификации кДНК гена актина картофеля
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td.headerlevelone(colspan='4') Комплекты реагентов для диагностики болезней сахарной свеклы
                            tr
                                td
                                    | Ризомания сахарной свеклы (вирус некротического пожелтения жилок сахарной свеклы, beet necrotic yellow vein virus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                            tr.tr_odd
                                td Гниль сахарной свёклы (Pseudomonas syringae)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td.headerlevelone(colspan='4')
                                    | Комплекты реагентов для диагностики болезней огурцов и томатов, выращиваемых в закрытом грунте
                            tr.tr_odd
                                td
                                    | Черная бактериальная пятнистость томатов (Xanthomonas euvesicatoria, ранее Xanthomonas campestris pv. vesicatoria тип А)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Некроз сердцевины стебля томата (Pseudomonas corrugata)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td
                                    | Угловатая пятнистость листьев(Pseudomonas syringae pv. Lacrimans, ранее Pseudomonas lacrimans)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Бактериальный рак томатов (Clavibacter michiganensis subsp. michiganensis)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                            tr.tr_odd
                                td
                                    | Водянистая гниль плодов (Pectobacterium carotovorum subsp. сarotovorum, син. Erwinia carotovora subsp. carotovora)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                            tr
                                td
                                    | Аскохитоз огурца (Ascochyta cucumis; Phoma cucurbitacearum; Didymella bryoniae)
                                    p
                                    |  Аскохитоз томата (Ascochyta lycopersici, син. Didymella lycopersici)
                                    p
                                    |  Грибы рода Ascochyta (Didymella, Phoma)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                            tr.tr_odd
                                td Вирус кольцевой пятнистости томата (Tomato ringspot virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус желтой курчавости листьев томата (Tomato yellow leaf curl begomovirus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус бронзовости томата (Tomato spotted wilt virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус коричневой морщинистости плодов томата (Tomato brown rugose fruit virus) 
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td.headerlevelone(colspan='4')
                                    | Комплекты реагентов для диагностики болезней злаковых
                                    br
                                    | 		Септориозы
                            tr
                                td Септориоз пшеницы (Septoria nodorum)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Септориоз пшеницы (Septoria tritici)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td.headerlevelone(colspan='4')
                                    | Комплекты реагентов для диагностики болезней злаковых
                                    br
                                    | 		Фузариозы
                            tr.tr_odd
                                td Fusarium graminearum
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Fusarium culmorum
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Fusarium sporotrichioides
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Fusarium langsethiae
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Fusarium poae
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Fusarium avenaceum
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Fusarium tricinctum
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Fusarium cerealis
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td
                                    span(style='font-style:italic;')
                                    | Fusarium acuminatum
                                    span(style='font-size: x-large;')
                                        span(style='color: rgb(255, 0, 0);')
                                        strong(style="color: red;") *
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td
                                    span(style='font-style:italic;')
                                    | Fusarium torulosum
                                    span(style='font-size: x-large;')
                                        span(style='color: rgb(255, 0, 0);')
                                        strong(style="color: red;") *
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td
                                    span(style='font-style:italic;')
                                    | Fusarium solani
                                    span(style='font-size: x-large;')
                                        span(style='color: rgb(255, 0, 0);')
                                        strong(style="color: red;") *
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td.headerlevelone(colspan='4')
                                    | Комплекты реагентов для идентификации токсинпродуцирующих грибов — возбудителей фузариозов злаковых по спектру продуцируемых ими токсинов
                            tr.tr_odd
                                td
                                    | Токсины DON, 
                                    nobr 3-ADON,
                                    nobr 15-ADON,
                                    |  NIV, FUSX, ZEA
                                    br
                                    | 		Продуценты: Fusarium graminearum, Fusarium culmorum, Fusarium cerealis
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td
                                    | Токсины T-2, HT-2, DAS, NEO, ZEA
                                    br
                                    | 		Продуценты: Fusarium sporotrichiodes, Fusarium langsethiae
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td
                                    | Токсины NIV, FUSX, T-2, HT-2, DAS, ZEA
                                    br
                                    | 		Продуценты: Fusarium poae
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td
                                    | Токсины MON, BEA, ENN A, B
                                    br
                                    | 		Продуценты: Fusarium avenaceum, Fusarium tricinctum, Fusarium acuminatum, Fusarium torulosum
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td.headerlevelone(colspan='4') Комплекты реагентов для диагностики болезней и вредителей плодовых культур
                            tr
                                td Вирус шарки сливы (Plum Pox virus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Бактериальный ожог плодовых (Erwinia amilovora)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Средиземноморская плодовая муха (Ceratitis capitata)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус кольцевой пятнистости малины (Raspberry ringspot virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Фитоплазма золотистого пожелтения винограда (Candidatus Phytoplasma Vitis)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Фитоплазма истощения груши (Candidatus Phytoplasma pyri)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Фитоплазма пролиферации яблони (Candidatus Phytoplasma mali)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вироид латентной мозаики персика (Peach latent mosaic viroid)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус розеточной мозаики персика (Peach rosette mosaic virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td.headerlevelone(colspan='4') Комплекты реагентов для диагностики карантинных патогенов
                            tr
                                td
                                    | Нью-Дели вирус курчавости листьев томата (Tomato leaf curl New Delhi virus, ToLCNDV) 
                                    span(style='font-size: large;')
                                    span(style='color: rgb(255, 0, 0);')
                                        strong Новинка!
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                            td
                                | Вирус мозаики пепино (Pepino mosaic virus) 
                                span(style='font-size: large;')
                                span(style='color: rgb(255, 0, 0);')
                                    strong Новинка!
                            td
                                img(alt='' src='assets/images/check.svg')
                            td
                                img(alt='' src='assets/images/check.svg')
                            tr
                            td Кольцевая гниль картофеля (Clavibacter michiganensis subsp. Sepedonicus)
                            td
                                img(alt='' src='assets/images/check.svg')
                            td
                                img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Бактериальный ожог плодовых (Erwinia amilovora)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Бурая бактериальная гниль (Ralstonia solanacearum)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус шарки сливы (Plum Pox virus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Бледная картофельная цистообразующая нематода (Globodera pallida)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Золотистая картофельная цистообразующая нематода (Globodera rostochiensis)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Сосновая древесная нематода (Bursaphelenchus xylophilus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Сосновая древесная нематода (Bursaphelenchus mucronatus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Бактериальный вилт кукурузы (Pantoea stewartii)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Средиземноморская плодовая муха (Ceratitis capitata)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td
                                    | Ризомания сахарной свеклы (вирус некротического пожелтения жилок сахарной свеклы, beet necrotic yellow vein virus)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Андийский вирус крапчатости картофеля (Andean potato mottle virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Андийский латентный вирус картофеля (Andean potato latent virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Фомопсис подсолнечника Diaporthe helianthi (Phomopsis helianthi)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Рак картофеля (Synchytrium endobioticum)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус черной кольцевой пятнистости картофеля (Potato black ringspot virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус кольцевой пятнистости малины (Raspberry ringspot virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус кольцевой пятнистости табака (Tobacco ringspot virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус кольцевой пятнистости томата (Tomato ringspot virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Фитоплазма золотистого пожелтения винограда (Candidatus Phytoplasma Vitis)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Фитоплазма истощения груши (Candidatus Phytoplasma pyri)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Фитоплазма пролиферации яблони (Candidatus Phytoplasma mali)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вироид латентной мозаики персика (Peach latent mosaic viroid)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус желтой курчавости листьев томата (Tomato yellow leaf curl begomovirus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус бронзовости томата (Tomato spotted wilt virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Бактериальная пятнистость тыквенных культур (Acidovorax citrulli)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус некротической пятнистости бальзамина (Impatiens necrotic spot tospovirus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td T вирус картофеля (Potato virus T)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус пожелтения картофеля (Potato yellowing virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус некроза стеблей хризантем (Chrysanthemum stem necrosis virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вироид задержки роста хризантем (Chrysanthemum stunt viroid)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус жёлтой карликовости картофеля (Potato yellow dwarf virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Бактериальный ожог риса (Xanthomonas oryzae pv. Oryzae)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Сосудистый бактериоз капусты (Xanthomonas campestris pv. Campestris)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус розеточной мозаики персика (Peach rosette mosaic virus) 
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус коричневой морщинистости плодов томата (Tomato brown rugose fruit virus)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус штриховатой мозаики ячменя (Barley stripe mosaic virus, BSMV)
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус полосатой мозаики пшеницы (Wheat streak mosaic virus, WSMV) 
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td Вирус мозаики костра (Brome mosaic virus, BMV) 
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr.tr_odd
                                td Вирус мозаичной карликовости кукурузы (Maize dwarf mosaic virus, MDMV) 
                                td
                                td
                                    img(alt='' src='assets/images/check.svg')
                            tr
                                td.headerlevelone(colspan='4') Комплекты реагентов для выделения нуклеиновых кислот
                            tr.tr_odd
                                td Комплект реагентов для выделения РНК из растительной ткани «Проба-НК»
                                td
                                td
                            tr
                                td Комплект реагентов для выделения ДНК «Проба-ГС»
                                td
                                td
                            tr.tr_odd
                                td Комплект реагентов для выделения ДНК «Проба – ЦТАБ»
                                td
                                td
                            tr
                                td Комплект реагентов для проведения обратной транскрипции
                                td
                                td
                            tr.tr_odd
                                td.headerlevelone(colspan='4') Комплекты реагентов для проведения ПЦР
                            tr
                                td Базовые комплекты реагентов для проведения ПЦР (в ассортименте)
                                td
                                    img(alt='' src='assets/images/check.svg')
                                td
                                    img(alt='' src='assets/images/check.svg')
                    p
                        span(style="color: red;") *
                        span  - данные наборы производятся только по предварительному заказу