---
title: АгроДиагностика | Новости
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Новости

    section.title 
        .container 
            h1.page-title Новости

    section.news-page 
        .container 
            .news-items 

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Болезни растений - открытие нового направления...

                    .news-item__text С радостью сообщаем, что компанией открыто новое направление для диагностики болезней растений...
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее

                .news-item 

                    .news-item__date 20 октября 2022

                    .news-item__title Наши новинки за лето

                    .news-item__text За весну - лето наша компания подготовила следующие тест-системы.
                
                    .button-style.button-style--green Подробнее
                    
        .pagination

            a.pagination-item.pagination-arrow.disabled(href="javascript:void(0)")
                i.far.fa-angles-left
            a.pagination-item.pagination-arrow.disabled(href="javascript:void(0)")
                i.far.fa-angle-left

            a.pagination-item.active(href="javascript:void(0)") 1
            a.pagination-item(href="javascript:void(0)") 2
            a.pagination-item(href="javascript:void(0)") 3
            a.pagination-item(href="javascript:void(0)") 4
            a.pagination-item(href="javascript:void(0)") 5
            span.pagination-item.pagination-dots ...
            a.pagination-item(href="javascript:void(0)") 10

            a.pagination-item.pagination-arrow(href="javascript:void(0)")
                i.far.fa-angle-right
            a.pagination-item.pagination-arrow(href="javascript:void(0)")
                i.far.fa-angles-right