---
title: АгроДиагностика | Публикации
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Публикации

    section.title 
        .container 
            h1.page-title Публикации

    section.publication-page 
        .container 
            .publications-items 

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub1.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика токсигенных грибов – возбудителей фузариоза зерна...


                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub2.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Карантин

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

                .publications-item

                    .publications-item__img 

                        img(src="assets/images/pub3.png", alt="")

                        .publications-item__date 20 октября 2022

                    .publications-item__content 

                        .publications-item__title Диагностика карантинных вирусов рода Nepovirus методом...

                        .button-style.button-style--green Подробнее

            .pagination

                a.pagination-item.pagination-arrow.disabled(href="javascript:void(0)")
                    i.far.fa-angles-left
                a.pagination-item.pagination-arrow.disabled(href="javascript:void(0)")
                    i.far.fa-angle-left

                a.pagination-item.active(href="javascript:void(0)") 1
                a.pagination-item(href="javascript:void(0)") 2
                a.pagination-item(href="javascript:void(0)") 3
                a.pagination-item(href="javascript:void(0)") 4
                a.pagination-item(href="javascript:void(0)") 5
                span.pagination-item.pagination-dots ...
                a.pagination-item(href="javascript:void(0)") 10

                a.pagination-item.pagination-arrow(href="javascript:void(0)")
                    i.far.fa-angle-right
                a.pagination-item.pagination-arrow(href="javascript:void(0)")
                    i.far.fa-angles-right
