---
title: АгроДиагностика | Реквизиты
---

extends includes/_page

block main
    <script data-skip-moving="true" src="https://api-maps.yandex.ru/2.1/?lang=ru_ru" type="text/javascript"></script>
    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Реквизиты

    section.requisites-page

        .container 

            .page-wrapper

                .page__sidebar 

                    nav.page__sidebar-nav

                        p.page__sidebar--selected
                            span Нормативная документация
                            i.fa-solid.fa-chevron-down

                        div(style="display: none;").page__sidebar-list

                            a.select-option.selected Публикации

                            a.select-option Новости

                            a.select-option Нормативная документация

                            a.select-option Инструкции
                
                .page__content

                    .page-title Реквизиты

                    .requisites-content

                        .requisites-title ООО «АгроДиагностика»

                        .requisites-item
                        
                            .requisites-title-sm Адрес

                            .requisites-text 117587, г. Москва, вн. тер. г. муниципальный округ Чертаново Северное, Варшавское ш, д.125Ж, к.6, этаж 3, помещ. 5

                        .requisites-item

                            .requisites-title-sm Телефон

                            a(href="tel:+7-495-727-60-71").requisites-text +7-495-727-60-71

                            a(href="tel:+7-985-727-60-71").requisites-text +7-985-727-60-71

                        .requisites-mixed 
                            span ИНН
                            div 7721531360

                        .requisites-mixed 
                            span КПП
                            div 772801001

                        .requisites-mixed 
                            span ОКПО
                            div 77497086

                        .requisites-mixed 
                            span ОГРН
                            div 1057747128185

                        .requisites-item
                        
                            .requisites-title-sm Банковские реквизиты:

                            .requisites-text Р/с 40702810101300019158

                            .requisites-text АО "АЛЬФА-БАНК"

                            .requisites-text К/с 30101810200000000593 в ГУ БАНКА РОССИИ ПО ЦФО

                            .requisites-text БИК 044525593

                            .requisites-text Генеральный директор - Кокорев Николай Вадимович, действует на основании Устава.





                    
                    
