---
title: АгроДиагностика | Услуги
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Услуги

    section.title 
        .container 
            h1.page-title Услуги

    section.services-page

        .container

            .services-page-items 

                .services-page__item

                    .services-page__item-img 
                        img(src="assets/images/ser1.png", alt="")

                    .services-page__item-content 
                        .services-page__item-title Установка лабораторий под ключ, с полным сервисным обслуживанием и гарантией
                        .services-page__item-text Компания "АгроДиагностика" организует для вашей компании комплексную установку лаборатории для исследований, и проведет обучение сотрудников на ее базе или на своих мощностях.<br><br>"Ключевое" оборудование для лабораторий разрабатывается и производится в России.
                        .button-style.button-style--green Подробнее

                .services-page__item

                    .services-page__item-img 
                        img(src="assets/images/ser2.png", alt="")

                    .services-page__item-content 
                        .services-page__item-title Диагностика на зараженность посадочного картофеля
                        .services-page__item-text Если ваша компания заинтересована в подтверждении чистоты посадочного материала от патогенов — обращайтесь, компания «АгроДиагностика» имеет возможность проводить исследовательские работы на самом высоком уровне.
                        .button-style.button-style--green Подробнее

                .services-page__item

                    .services-page__item-img 
                        img(src="assets/images/ser3.png", alt="")

                    .services-page__item-content 
                        .services-page__item-title Разработка новых тест-систем
                        .services-page__item-text Научная лаборатория ООО «АгроДиагностика» разрабатывает  тест-системы для диагностики и идентификации широкого спектра  фитопатогенов. Возможно у Вас возникнет необходимость в  диагностике патогенов, которых нет в списке уже имеющихся. В таком случае мы готовы рассмотреть предложение по их созданию и внедрению в производство.
                        .button-style.button-style--green Подробнее


