---
title: АгроДиагностика | Услуги детальная
---

extends includes/_page

block main

    section.breadcrumbs
        .container 
            .breadcrumbs-wrapper
                .breadcrumbs-item
                    a Главная
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Услуги
                .breadcrumbs-separator
                    i.fa-solid.fa-chevron-right
                .breadcrumbs-item
                    a Услуга детальная

    section.services-detail

        .container 

            .page-wrapper

                .page__sidebar 

                    nav.page__sidebar-nav

                        p.page__sidebar--selected
                            span Установка лабораторий
                            i.fa-solid.fa-chevron-down

                        div(style="display: none;").page__sidebar-list

                            a.select-option.selected Установка лабораторий

                            a.select-option Диагностика на зараженность посадочного

                            a.select-option Разработка новых тест-систем
                
                .page__content

                    h1.page-title Установка лабораторий под ключ, с полным сервисным обслуживанием и гарантией
                    p
                        | Компания "АгроДиагностика" организует для вашей компании комплексную установку лаборатории для исследований, и проведет обучение сотрудников на ее базе или на своих мощностях.
                    p "Ключевое" оборудование для лабораторий разрабатывается и производится в России.
                    h2 Организация ПЦР-лаборатории
                    p
                        | В настоящее время организация ПЦР-лаборатории регламентирована Методическими указаниями (МУ 1.3.2569–09) «Организация работы лабораторий, использующих методы амплификации нуклеиновых кислот при работе с материалом, содержащим микроорганизмы I-IV групп патогенности».
                    p
                        | Согласно данным МУ, лаборатория в соответствии с этапами проведения анализа должна включать следующий набор последовательно расположенных самостоятельных рабочих зон (помещений) или отдельно выделенных рабочих зон в составе других функциональных помещений, количество которых определяется используемыми МАНК:
                    ul
                        li прием, регистрация, разбор и первичная обработка материала (Рабочая зона 1);
                        li выделение нуклеиновых кислот (Рабочая зона 2 или «чистая» зона);
                        li проведение реакции амплификации и учет ее результатов при использовании гибридизационно-флуоресцентного метода детекции (Рабочая зона 3);
                        li учет результатов реакции амплификации нуклеиновых кислот методом электрофореза (Рабочая зона 4).
                    p
                        | При детекции методом гибридизации в процессе амплификации возможно совмещение Рабочей зоны 2 и Рабочей зоны 3 в одном помещении при наличии в нем отдельных боксов биологической безопасности II или III класса для каждой из рабочих зон. Детектирующие приборы размещают в смежных с зоной подготовки реакционных смесей помещениях, и все операции могут быть выполнены одним сотрудником.
                    p
                        | Рабочая зона 4 располагается изолированно от Рабочих зон 1–3 для предотвращения их контаминации продуктами амплификации через воздушный поток. Выполнение работ в этих зонах должно осуществляться отдельным персоналом, не задействованным на других этапах проведения анализа.
                    p
                        | Помещения лаборатории должны быть боксированными (боксы с предбоксами) и оборудованы приточно-вытяжной вентиляцией (в соответствии с СП 1.3.1285–03 и (или) СП 1.3.2322-08), водопроводом, канализацией, электричеством и отоплением.
                    p
                        br
                        img(style='vertical-align: middle; display: block; margin-left: auto; margin-right: auto;' src='/netcat_files/Image/pic_A.jpg' width='600' height='315' alt='')
                        br
                    p
                        img(style='display: block; margin-left: auto; margin-right: auto;' src='/netcat_files/Image/pic_B.jpg' width='600' height='359' alt='')
                    p(style='text-align: center;')
                        br
                        br
                        br
                        | Рекомендуемая схема размещения помещений (рабочих зон) лаборатории, использующей МАНК 
                        br
                        | с электрофоретической детекцией продуктов амплификации (А) и
                        br
                        | с гибридизационно-флуоресцентным методом детекции (Б)
                    p
                        | Обозначения:
                        br
                        | 1. Рабочая зона 1
                        br
                        | 2. Рабочая зона 2
                        br
                        | 3. Рабочая зона 3 
                        br
                        | 4. Рабочая зона 4
                        br
                        | 5. Вспомогательное помещение (комната анализа результатов)
                        br
                        | 6. Предбокс
                        br
                        | 7. Вспомогательное помещение (комната обеззараживания материала с автоклавом)
                    p
                        | Все производственные комнаты должны быть снабжены коротковолновыми ультрафиолетовыми лампами. Перемещение пробирок и штативов должно производиться только в направлении из зоны подготовки реакционных смесей в зоны пробоподготовки и детекции.
                    p
                        | Для обработки клинических образцов должны быть установлены ПЦР-боксы, обеспечивающие безопасность персонала при работе с инфекционным материалом и предусматривающие длительную экспозицию внутренних поверхностей ультрафиолетовым светом.
                    p
                        | Подготовку реакционной смеси следует проводить в 
                        a(href='http://www.agrodiagnostica.ru/equipment/pcrbox/' target='_blank') ПЦР-боксе
                        | , снабженном электрическими розетками, лампами дневного и ультрафиолетового света.
                    p
                        | Запрещается внесение пробирок с положительными контролями или клиническими образцами (до и после обработки) в 
                        a(href='http://www.agrodiagnostica.ru/equipment/pcrbox/' target='_blank') ПЦР-бокс
                        |  для подготовки реакционной смеси.
                    p
                        | Все производственные комнаты должны быть снабжены необходимым оборудованием и расходными материалами, в том числе халатами и сменной обувью, закрепленными за соответствующими помещениями.